@model MCN.Models.LoginViewModel

@{
    Layout = null;
    string ru = ViewData["ReturnURL"] as string;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>MCyN | Login</title>

    <!-- Bootstrap Core CSS -->
    <link href="~/Template/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="~/Template/vendor/metisMenu/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="~/Template/dist/css/sb-admin-2.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="~/Template/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>


    <div class="container">
        <div class="row">
            <!--div class="col-md-4"-->
            <div class="col-md-4 col-md-offset-4">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <div class="carousel">
                            <img class="center-block" src="~/images/MateriaCienciaNanociencia.png" width="328" height="100" id="wrapper" />
                        </div>
                        <!--h3 class="panel-title">Please Sign In</!--h3-->
                    </div>
                    <div class="panel-body">
                        <form asp-action="Login" role="form">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <fieldset>
                                <div class="form-group">
                                    <!--label asp-for="Email" class="control-label"></label-->
                                    <input asp-for="Email" class="form-control" placeholder="Correo Electronico" name="email" type="email" autofocus />
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <!--label asp-for="Password" class="control-label"></label-->
                                    <input asp-for="Password" class="form-control" placeholder="Contraseña" name="password" type="password" value="" />
                                    <span asp-validation-for="Password" class="text-danger"></span>
                                    @Html.HiddenFor(m => m.ReturnURL, new { Value = ru });
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input name="remember" type="checkbox" value="Remember Me">Remember Me
                                    </label>
                                </div>
                                <div class="form-group">
                                    <input type="submit" value="Login" class="btn btn-success btn-block" />
                                </div>
                            </fieldset>
                        </form>
                        <a asp-controller="Account" asp-action="Registro">¿No tienes cuenta? Registrate.</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- jQuery -->
    <script src="~/Template/vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="~/Template/vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="~/Template/vendor/metisMenu/metisMenu.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="~/Template/dist/js/sb-admin-2.js"></script>

</body>
</html>

