@{
    ViewData["Title"] = "Home Page";
}

<div class="col" style= "padding-top:200px","text-align:center" >

    <img src="~/images/MateriaCienciaNanociencia.png" alt="Alternate Text"  class="img-thumbnail"/>
</div>


