@{
    ViewData["Title"] = "Home Page";
}

<div class="col-xs-push-6" style="text-align:justify">
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <img src="~/images/MateriaCienciaNanociencia.png" alt="Alternate Text" class="center-block" width="400" height="100" />
</div>


