
@{
    ViewData["Title"] = "ListadoArticulos";
    ViewData["Tipo"] = ViewData["tipo"];
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Volumenes</title>
</head>
<body>

    <div class="col" style="padding-top:180px; padding-left:200px" ,"text-align:center">

        <img src="~/images/proceso.png" alt="Alternate Text" class="img-thumbnail" />
    </div>
</body>
</html>
