@model MCN.Models.Personal

@{
    ViewData["Title"] = "RegistrarPersonal";
    ViewData["Tipo"] = ViewData["tipo"];
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>RegistrarPersonal</title>
</head>
<body>

<div class="row">
    <h4>Registro de Personal</h4>
    <hr />
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Formulario de Registro
            </div>
            <div class="panel-body">
                <div class="row">

                    <!--div class="col-md-4"-->
                    <form asp-action="RegistrarPersonal" role="form">
                        <div class="col-lg-6">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="NombreP" class="control-label"></label>
                                <input asp-for="NombreP" class="form-control" />
                                <span asp-validation-for="NombreP" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="ApellidoP" class="control-label"></label>
                                <input asp-for="ApellidoP" class="form-control" />
                                <span asp-validation-for="ApellidoP" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="NombreUsuarioP" class="control-label"></label>
                                <input asp-for="NombreUsuarioP" class="form-control" />
                                <span asp-validation-for="NombreUsuarioP" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="CorreoElectronicoP" class="control-label"></label>
                                <input asp-for="CorreoElectronicoP" class="form-control" type="email" />
                                <span asp-validation-for="CorreoElectronicoP" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Contrasenia" class="control-label"></label>
                                <input asp-for="Contrasenia" class="form-control" type="password" />
                                <span asp-validation-for="Contrasenia" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label asp-for="TipoP" class="control-label"></label>
                                <select asp-for="TipoP" class="form-control" asp-items="ViewBag.TipoP"></select>
                            </div>

                            <label class="control-label">Institución</label>
                            <div class="form-group input-group">
                                <!--span class="input-group-addon"><i class="fa fa-user fa-fw"></i></span-->
                                <select class="form-control" asp-items="ViewBag.IdInstituciones " id="instit"></select>
                                <span class="input-group-addon "><a href="#" id="agregar_insti"><i class="fa fa-plus fa-fw"></i></a></span>

                            </div>
                            <!--button type="button" class="btn btn-outline btn-default" id="agregar_insti">+</button-->
                            <label asp-for="RExtencionesP" class="control-label"></label>
                            <div class="form-group input-group">
                                <select asp-for="RExtencionesP" class="form-control" asp-items="ViewBag.IdExtenciones" id="depen"></select>
                                <span class="input-group-addon "><a href="#" id="agregar_depen"><i class="fa fa-plus fa-fw"></i></a></span>
                                <!--a href="#" id="agregar_depen">Agregar Nueva Dependencia</a-->
                            </div>
                            <div class="form-group">
                                <label asp-for="RGradoEstudio" class="control-label"></label>
                                <select asp-for="RGradoEstudio" class="form-control" asp-items="ViewBag.IdGradoEst"></select>
                            </div>
                            <label asp-for="RLineaTrabajo" class="control-label"></label>
                            <div class="form-group input-group">
                                <select asp-for="RLineaTrabajo" class="form-control" asp-items="ViewBag.IdLineaTrabajp"></select>
                                <span class="input-group-addon "><a href="#" id="agregar_lineat"><i class="fa fa-plus fa-fw"></i></a></span>
                                <!--a href="#" id="agregar_lineat">Agregar Nueva Linea de Trabajo</a-->
                            </div>
                            <!--div class="form-group">
                                <label asp-for="Status" class="control-label"></label>
                                <select asp-for="Status" class ="form-control" asp-items="ViewBag.Status"></select>
                            </div-->
                            <div class="form-group">
                                <input type="submit" value="Registrar" class="btn btn-primary btn-lg btn-block  btn-success" />
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

 <div>
     <a asp-action="Listado">Regresar al listado</a>
 </div>

</body>
</html>
